%h1= current_tenant.name

- if current_user
  %p= current_user.welcome
  %p= current_tenant.signout_link

  %h1= current_user.provider

  = raw current_user.provider_details

- else
  %p= current_tenant.signin_link

%p= current_tenant.inspect